meta:
  version: v2.0.0
  author: Marcus Östling

units:
  rotation: -12
  pcx: cx + 8
  pcy: cy + 8
  padding: 4
  screwSize: 1 # M2 screws
  insetSize: 2 # M2 screws
  mountSize: 3 # M2 screws

points:
  rotate: rotation
  key:
    spread: cx
    padding: cy
  zones:
    board:
      anchor:
        shift: [69, -100]
      rows:
        bottom:
          row_net: P9
        home:
          row_net: P5
        top:
          row_net: P3
      columns:
        pinky:
          rows.thumb.skip: true
          key:
            col_net: P8
            mirror.col_net: P28
        ring:
          key:
            stagger: 12
            col_net: P7
            mirror.col_net: P27
          rows.thumb.skip: true
        middle.key:
          stagger: 7
          col_net: P6
          mirror.col_net: P26
        index.key:
          stagger: -5
          col_net: P4
          mirror.col_net: P22
        far.key:
          stagger: -2
          col_net: P2
          mirror.col_net: P21
    thumbrow:
      anchor:
        ref: board_middle_bottom
        shift: [0.75cx, -2cy + 10.3]
        rotate: -4
      rows:
        thumb:
          row_net: P10
      columns:
        middle.key:
          col_net: P6
          mirror.col_net: P26
        index.key:
          col_net: P4
          mirror.col_net: P22
          splay: -10
          origin: [-0.5cx, -0.5cy]
        far.key:
          col_net: P2
          mirror.col_net: P21
          splay: -10
          origin: [-0.5cx, -0.5cy]
  mirror:
    ref: board_index_top
    distance: 5*cx

outlines:
  raw:
    - what: rectangle
      where: true
      size: [cx, cy]
  cutout:
    - what: outline
      name: raw
      fillet: 2
  keycap_outlines:
    - what: rectangle
      size: [cx-0.5, cy-0.5]
      where: true
  board:
    - what: polygon
      operation: stack
      points:
        - ref: board_pinky_top
          shift: [-0.6cx, 0.6cy] 
        - ref: board_pinky_top
          shift: [0cx, 0.6cy]
        - ref: board_pinky_top
          shift: [0cx, 1cy]
        - ref: board_pinky_top
          shift: [0.4cx, 1cy]
        - ref: board_ring_top
          shift: [-0.6cx, 0.6cy]
        - ref: board_ring_top
          shift: [0.4cx, 0.6cy]
        - ref: board_middle_top
          shift: [-0.6cx, 0.6cy]
        - ref: board_middle_top
          shift: [0.6cx, 0.6cy]
        - ref: board_index_top
          shift: [-0.4cx, 0.62cy]
        - ref: board_index_top
          shift: [0.57cx, 0.62cy]
        - ref: board_far_top
          shift: [-0.4cx, 0.57cy]
        - ref: board_far_top
          shift: [0.6cx, 0.6cy]
        - ref: board_far_top
          shift: [0.6cx, 0.4cy]
        - ref: mirror_board_far_top
          shift: [0.6cx, 0.4cy]
        - ref: mirror_board_far_top
          shift: [0.6cx, 0.6cy]
        - ref: mirror_board_far_top
          shift: [-0.4cx, 0.57cy]
        - ref: mirror_board_index_top
          shift: [0.57cx, 0.62cy]
        - ref: mirror_board_index_top
          shift: [-0.4cx, 0.62cy]
        - ref: mirror_board_middle_top
          shift: [0.6cx, 0.6cy]
        - ref: mirror_board_middle_top
          shift: [-0.6cx, 0.6cy]
        - ref: mirror_board_ring_top
          shift: [0.4cx, 0.6cy]
        - ref: mirror_board_ring_top
          shift: [-0.6cx, 0.6cy]
        - ref: mirror_board_pinky_top
          shift: [0.4cx, 1cy]
        - ref: mirror_board_pinky_top
          shift: [0cx, 1cy]
        - ref: mirror_board_pinky_top
          shift: [0cx, 0.6cy]
        - ref: mirror_board_pinky_top
          shift: [-0.6cx, 0.6cy]
        - ref: mirror_board_pinky_bottom
          shift: [-0.6cx, -0.6cy]
        - ref: mirror_board_pinky_bottom
          shift: [1.86cx, -0.6cy]
        - ref: mirror_thumbrow_middle_thumb
          shift: [-0.6cx, -0.6cy]
        - ref: mirror_thumbrow_middle_thumb
          shift: [0.5cx, -0.6cy]
        - ref: mirror_thumbrow_far_thumb
          shift: [-0.5cx, -0.6cy]
        - ref: mirror_thumbrow_far_thumb
          shift: [0.5cx, -0.6cy]
        - ref: mirror_thumbrow_far_thumb
          shift: [0.6cx, -0.6cy]
        - ref: mirror_thumbrow_far_thumb
          shift: [0.6cx, -0.3cy]
        - ref: thumbrow_far_thumb
          shift: [0.6cx, -0.3cy]
        - ref: thumbrow_far_thumb
          shift: [0.6cx, -0.6cy]
        - ref: thumbrow_far_thumb
          shift: [0.5cx, -0.6cy]
        - ref: thumbrow_far_thumb
          shift: [-0.5cx, -0.6cy]
        - ref: thumbrow_middle_thumb
          shift: [0.5cx, -0.6cy]
        - ref: thumbrow_middle_thumb
          shift: [-0.5cx, -0.6cy]
        - ref: board_pinky_bottom
          shift: [1.86cx, -0.6cy]
        - ref: board_pinky_bottom
          shift: [-0.6cx, -0.6cy]
  cutout_board:
    - what: outline
      name: board
      fillet: 1.5
  board_with_padding:
    - what: polygon
      operation: stack
      fillet: 2
      points:
        - ref: board_pinky_top
          shift: [-0.6cx-padding, 0.6cy+padding] 
        - ref: board_pinky_top
          shift: [0cx-padding, 0.6cy+padding]
        - ref: board_pinky_top
          shift: [0cx-padding, 1cy+padding]
        - ref: board_pinky_top
          shift: [0.4cx-padding, 1cy+padding]
        - ref: board_ring_top
          shift: [-0.6cx-padding, 0.6cy+padding]
        - ref: board_ring_top
          shift: [0.4cx-padding, 0.6cy+padding]
        - ref: board_middle_top
          shift: [-0.6cx-padding, 0.6cy+padding]
        - ref: board_middle_top
          shift: [0.6cx+padding, 0.6cy+padding]
        - ref: board_index_top
          shift: [-0.4cx+padding, 0.62cy+padding]
        - ref: board_index_top
          shift: [0.57cx+0.9padding, 0.62cy+padding]
        - ref: board_far_top
          shift: [-0.4cx+1.2padding, 0.57cy+padding]
        - ref: board_far_top
          shift: [0.6cx+padding, 0.6cy+padding]
        - ref: board_far_top
          shift: [0.6cx+1.4padding, 0.4cy+padding]
        # ----- mirrored -----
        - ref: mirror_board_far_top
          shift: [0.6cx+1.4padding, 0.4cy+padding]
        - ref: mirror_board_far_top
          shift: [0.6cx+padding, 0.6cy+padding]
        - ref: mirror_board_far_top
          shift: [-0.4cx+1.2padding, 0.57cy+padding]
        - ref: mirror_board_index_top
          shift: [0.57cx+0.9padding, 0.62cy+padding]
        - ref: mirror_board_index_top
          shift: [-0.4cx+padding, 0.62cy+padding]
        - ref: mirror_board_middle_top
          shift: [0.6cx+padding, 0.6cy+padding]
        - ref: mirror_board_middle_top
          shift: [-0.6cx-padding, 0.6cy+padding]
        - ref: mirror_board_ring_top
          shift: [0.4cx-padding, 0.6cy+padding]
        - ref: mirror_board_ring_top
          shift: [-0.6cx-padding, 0.6cy+padding]
        - ref: mirror_board_pinky_top
          shift: [0.4cx-padding, 1cy+padding]
        - ref: mirror_board_pinky_top
          shift: [0cx-padding, 1cy+padding]
        - ref: mirror_board_pinky_top
          shift: [0cx-padding, 0.6cy+padding]
        - ref: mirror_board_pinky_top
          shift: [-0.6cx-padding, 0.6cy+padding]
        - ref: mirror_board_pinky_bottom
          shift: [-0.6cx-padding, -0.6cy-padding]
        - ref: mirror_board_pinky_bottom
          shift: [1.86cx-padding, -0.6cy-padding]
        - ref: mirror_thumbrow_middle_thumb
          shift: [-0.6cx-padding, -0.6cy-padding]
        - ref: mirror_thumbrow_middle_thumb
          shift: [0.5cx-padding, -0.6cy-padding]
        - ref: mirror_thumbrow_far_thumb
          shift: [-0.5cx-padding, -0.6cy-padding]
        - ref: mirror_thumbrow_far_thumb
          shift: [0.5cx-padding, -0.6cy-padding]
        - ref: mirror_thumbrow_far_thumb
          shift: [0.6cx-padding, -0.6cy-padding]
        # - ref: mirror_thumbrow_far_thumb
        #   shift: [0.6cx+padding, -0.3cy-padding]
        # ----- original -----
        # - ref: thumbrow_far_thumb
        #   shift: [0.6cx+padding, -0.3cy-padding]
        - ref: thumbrow_far_thumb
          shift: [0.6cx-padding, -0.6cy-padding]
        - ref: thumbrow_far_thumb
          shift: [0.5cx-padding, -0.6cy-padding]
        - ref: thumbrow_far_thumb
          shift: [-0.5cx-padding, -0.6cy-padding]
        - ref: thumbrow_middle_thumb
          shift: [0.5cx-padding, -0.6cy-padding]
        - ref: thumbrow_middle_thumb
          shift: [-0.5cx-padding, -0.6cy-padding]
        - ref: board_pinky_bottom
          shift: [1.86cx-padding, -0.6cy-padding]
        - ref: board_pinky_bottom
          shift: [-0.6cx-padding, -0.6cy-padding]
  mouting_holes:
    - what: circle
      radius: screwSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: screwSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: screwSize
      where:
        ref: mirror_board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: screwSize
      where:
        ref: board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: screwSize
      where:
        ref: mirror_board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: screwSize
      where:
        ref: board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: screwSize
      where:
        ref: mirror_board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: screwSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [-0.6cx, -0.25cy]
    - what: circle
      radius: screwSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [0.6cx, -0.25cy]
    - what: circle
      radius: screwSize
      where:
        ref: board_ring_top
        shift: [-0.75cx, 0.05cy]
    - what: circle
      radius: screwSize
      where:
        ref: mirror_board_ring_top
        shift: [-0.75cx, 0.05cy]
  _mouting_holes_with_padding: # Copy of mouting_holes but with padding
    - what: circle
      radius: mountSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: mountSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: mountSize
      where:
        ref: mirror_board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: mountSize
      where:
        ref: board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: mountSize
      where:
        ref: mirror_board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: mountSize
      where:
        ref: board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: mountSize
      where:
        ref: mirror_board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: mountSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [-0.6cx, -0.25cy]
    - what: circle
      radius: mountSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [0.6cx, -0.25cy]
    - what: circle
      radius: mountSize
      where:
        ref: board_ring_top
        shift: [-0.75cx, 0.05cy]
    - what: circle
      radius: mountSize
      where:
        ref: mirror_board_ring_top
        shift: [-0.75cx, 0.05cy]
  _mouting_holes_with_padding2: 
    - what: circle
      radius: insetSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: insetSize
      where:
        ref: board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: insetSize
      where:
        ref: mirror_board_pinky_bottom
        shift: [0.75cx, -0.15cy]
    - what: circle
      radius: insetSize
      where:
        ref: board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: insetSize
      where:
        ref: mirror_board_far_bottom
        shift: [0.9cx, 0cy]
    - what: circle
      radius: insetSize
      where:
        ref: board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: insetSize
      where:
        ref: mirror_board_far_top
        shift: [0.8cx, 0cy]
    - what: circle
      radius: insetSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [-0.6cx, -0.25cy]
    - what: circle
      radius: insetSize
      where:
        ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
        shift: [0.6cx, -0.25cy]
    - what: circle
      radius: insetSize
      where:
        ref: board_ring_top
        shift: [-0.75cx, 0.05cy]
    - what: circle
      radius: insetSize
      where:
        ref: mirror_board_ring_top
        shift: [-0.75cx, 0.05cy]




pcbs:
  fat_cruiser:
    template: kicad8
    outlines:
      main:
        outline: cutout_board
    footprints:
      switches:
        what: choc_with_via
        where: true
        params:
          keycaps: true
          reverse: false
          from: "{{col_net}}"
          to: "{{colrow}}"
          hotswap: true
          rotation: 0
      diode:
        what: diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
      mcu:
        what: nicenano2
        params:
         orientation: "down"
        where:
          ref.aggregate.parts: [board_far_home, mirror_board_far_home]
          shift: [0, -0]
          rotate: -90
      display:
        what: oled_ssd1306
        where:
          ref.aggregate.parts: [board_far_bottom, mirror_board_far_bottom]
          shift: [0, -14]
          rotate: 180
        params:
          # https://tinygo.org/docs/reference/microcontrollers/nicenano/
          VCC: "3V3"
          SDA: "P017"
          SCL: "P020"
      text_left:
        what: text
        where:
          ref: board_pinky_bottom
          shift: [1cx, -0.44cy]
        params:
          text: "Fat Cruiser v2.0"
          rotation: rotation
          font_size: 1
      text_right:
        what: text
        where:
          ref: mirror_board_pinky_bottom
          shift: [1cx, -0.44cy]
        params:
          text: "by Marcus Östling"
          rotation: -rotation
          font_size: 1
      m2_1:
        what: mountinghole
        where:
          ref: board_pinky_bottom
          shift: [0.75cx, -0.15cy]
        params:
          class: "m2"
      m2_1_mirror:
        what: mountinghole
        where:
          ref: mirror_board_pinky_bottom
          shift: [0.75cx, -0.15cy]
        params:
          class: "m2"
      m2_2:
        what: mountinghole
        where:
          ref: board_far_bottom
          shift: [0.9cx, 0cy]
        params:
          class: "m2"
      m2_2_mirror:
        what: mountinghole
        where:
          ref: mirror_board_far_bottom
          shift: [0.9cx, 0cy]
        params:
          class: "m2"
      m2_3:
        what: mountinghole
        where:
          ref: board_far_top
          shift: [0.8cx, 0cy]
        params:
          class: "m2"
      m2_3_mirror:
        what: mountinghole
        where:
          ref: mirror_board_far_top
          shift: [0.8cx, 0cy]
        params:
          class: "m2"
      m2_4:
        what: mountinghole
        where:
          ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
          shift: [-0.6cx, -0.25cy]
        params:
          class: "m2"
      m2_4_mirror:
        what: mountinghole
        where:
          ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
          shift: [0.6cx, -0.25cy]
        params:
          class: "m2"
      m2_5:
        what: mountinghole
        where:
          ref: board_ring_top
          shift: [-0.75cx, 0.05cy]
        params:
          class: "m2"
      m2_5_mirror:
        what: mountinghole
        where:
          ref: mirror_board_ring_top
          shift: [-0.75cx, 0.05cy]
        params:
          class: "m2"
      # p1:
      #   what: pin
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [-2*2.54, -4]
      #   params:
      #     net: "GND"
      #     value: "GND"
      # p2:
      #   what: pin
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [-2.54, -4]
      #   params:
      #     net: "P16"
      #     value: "P16"
      # p3:
      #   what: pin
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [0, -4]
      #   params:
      #     net: "P17"
      #     value: "P17"
      # p4:
      #   what: pin
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [2.54, -4]
      #   params:
      #     net: "P18"
      #     value: "P18"
      # p5:
      #   what: pin
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [2*2.54, -4]
      #   params:
      #     net: "P19"
      #     value: "P19"
      text_slider1:
        what: text
        where:
          ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
          shift: [0cx, -4.5]
        params:
          text: "POWER"
          font_size: 1
      silder1:
        what: slider
        where:
          ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
          shift: [0cx, -8]
          rotate: 180
        params:
          to: "VBAT2"
          from: "B+"
      # text_slider2:
      #   what: text
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [-0.5cx, -5.5]
      #     rotate: 180
      #   params:
      #     text: "OLED"
      #     font_size: 1
      # silder2:
      #   what: slider
      #   where:
      #     ref.aggregate.parts: [thumbrow_far_thumb, mirror_thumbrow_far_thumb]
      #     shift: [-0.5cx, -9]
      #     rotate: 180
      #   params:
      #     to: "3V3"
      #     from: "EXT_VCC"
      reset_button:
        what: button_2pin
        where:
          ref.aggregate.parts: [board_far_top, mirror_board_far_top]
          shift: [0.76cx, -0.6cy]
          rotate: 180
        params:
          to: "GND"
          from: "RESET"
      battery_jst:
        what: jstph_2silk
        where:
          ref.aggregate.parts: [board_far_top, mirror_board_far_top]
          shift: [0.7cx, -1.5072cy]
          rotate: 0
        params:
          neg: "GND"
          pos: "B+"

cases:
  _bottom:
    - name: cutout_board
      extrude: 1 # 1 mm thick
  _bottom_with_padding:
    - name: board_with_padding
      extrude: 1
  _outerWall:
    - name: board_with_padding
      extrude: 4
  _innerWall:
    - name: cutout_board
      extrude: 4
  _mounting_holes:
    - name: mouting_holes
      extrude: 4
  _mounting_holes_with_padding:
    - name: _mouting_holes_with_padding
      extrude: 2
  _mounting_holes_inset:
    - name: _mouting_holes_with_padding2
      extrude: 1
  _wall:
    - what: case
      name: _outerWall
      operation: add
    - what: case
      name: _innerWall
      operation: subtract
  case:
    - what: case
      name: _bottom_with_padding
      operation: add
    - what: case
      name: _mounting_holes_with_padding
      operation: add
    - what: case
      name: _mounting_holes_inset
      operation: subtract
    - what: case
      name: _mounting_holes
      operation: subtract
    - what: case
      name: _wall
      operation: add
